.container-menu {
  padding: 0;
}


.container {
  padding: 0 20px;

  @media screen and (min-width: $tablet) {
    padding: 0 30px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 110px;
  }
}

.content-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1300px;
  padding-left: var(--content-padding-mobile);
  padding-right: var(--content-padding-mobile);

  @media (min-width: $tablet) {
    padding-left: var(--content-padding-tablet);
    padding-right: var(--content-padding-tablet);
  }

  @media (min-width: $desktop) {
    padding-left: var(--content-padding-desktop);
    padding-right: var(--content-padding-desktop);
  }
}
