body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --content-padding-mobile: 20px;
  --content-padding-tablet: 30px;
  --content-padding-desktop: 40px;
  --content-width-mobile: (320px - var(--content-padding-mobile) * 2);
  --content-width-tablet: (768px - var(--content-padding-tablet) * 2);
  --content-width-desktop: (1300px - var(--content-padding-desktop) * 2);
}
