.academy__link {
  font-family: $primary-font;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  color: $color-special-dark-grey;

  &:active {
    opacity: 0.3;
  }
}

.academy__icon {
  color: $color-grey-footer;
}

.academy__link:hover .academy__icon,
.academy__link:focus .academy__icon {
  color: $color-basic-green;
}
