.address__text {
  width: 140px;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 20px;
  color: $color-special-dark-grey;
  text-decoration: none;
  font-style: normal;

  @media (min-width: $tablet) {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-top: -20px;
  }

  @media (min-width: $desktop) {
    text-align: left;
  }
}

.address__text-wrap {
  @media (min-width: $tablet) {
    display: inline-block;
    margin-bottom: 19px;
  }
}

.address__title {
  font-family: $secondary-font;
  color: $color-address-text;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
    margin-top: 0;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 26px;
  }
}

.address {
  padding-top: 12px;
  padding-bottom: 9px;

  @media (min-width: $tablet) {
    padding-top: 62px;
    padding-bottom: 41px;
  }

  @media (min-width: $desktop) {
    background-color: $color-white;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.address__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) {
    padding: 0 70px;
  }

  @media (min-width: $desktop) {
    padding: 61px 80px 50px 80px;
  }
}
