.button {
  font-family: $secondary-font;
  display: block;
  font-size: 14px;
  line-height: 18px;
  background-color: $color-basic-green;
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &--yet {
    background-color: $color-grey;
    color: $color-special-dark-grey;
  }

  &:hover,
  &:focus {
    background-color: $color-basic-green-hover;
  }

  &:active {
    background-color: $color-basic-green-hover;
    color: rgba($color-white, 0.3);
  }
}
