.comparison {
  padding-bottom: 25px;

  @media (min-width: $tablet) {
    margin: 0 -30px;
    padding-bottom: 65px;
    background-image: linear-gradient($color-white 191px, $color-example-grey 191px);
  }

  @media (min-width: $desktop) {
    margin: 0;
    background-image: linear-gradient($color-white 191px, transparent 191px), linear-gradient(to right, $color-grey 50%, $color-example-grey 50%);
  }
}

.comparison__wrapper-img {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 -20px;
  margin-bottom: 15px;
  min-height: 240px;

  @media (min-width: $tablet) {
    margin: 0;
    margin-bottom: 13px;
    min-height: 520px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 32px;
  }
}

.comparison__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  margin: auto;
  width: auto;

  @media (min-width: $desktop) {
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
  }

  &--current {
    display: block;
  }

  &--before {
    @media (min-width: $tablet) {
      display: block;
      clip: rect(auto, 338px, auto, auto);
    }

    @media (min-width: $desktop) {
      left: -74px;
      clip: rect(auto, 365px, auto, auto);
    }
  }

  &--after {
    @media (min-width: $tablet) {
      left: 48px;
      display: block;
      clip: rect(auto, auto, auto, 248px);
    }

    @media (min-width: $desktop) {
      left: 5px;
      clip: rect(auto, auto, auto, 270px);
    }
  }
}
