.form {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  color: $color-special-dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $desktop) {
    margin: 0 auto;
    max-width: 1440px;
  }

  &--checkbox {
    padding-bottom: 39px;

    @media (min-width: $tablet) {
      padding-bottom: 59px;
    }

    @media (min-width: $desktop) {
      padding-bottom: 66px;
    }
  }

  &--text-group {
    @media (min-width: $desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }
  }
}

.form__list {
  @include list;

  &--text-group {
    margin-bottom: 25px;

    @media (min-width: $tablet) {
      margin-bottom: 72px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 0;
    }
  }

  &--radio-group {
    @media (min-width: $tablet) {
      padding-top: 29px;
      padding-bottom: 29px;
      padding-left: 28px;
      border: 1px solid $color-lighten-grey;
    }
  }

  &--extra {
    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 60px;
      row-gap: 42px;
    }

    @media (min-width: $desktop) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 80px;
    }
  }

  &--contact {
    @media (min-width: $desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }
  }
}

.form__item {
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  @media (min-width: $tablet) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--radio {
    margin-bottom: 25px;
  }

  &--radio:nth-child(2) {
    @media (min-width: $desktop) {
      margin-bottom: 23px;
    }
  }

  &--email {
    margin-bottom: 14px;

    @media (min-width: $tablet) {
      margin-bottom: 20px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 0;
    }
  }

  &--checkbox {
    margin-bottom: 25px;

    @media (min-width: $tablet) {
      margin-bottom: 0;
    }
  }
}

.form__label {
  margin-right: 13px;
  cursor: pointer;

  @media (min-width: $tablet) {
    margin-right: 18px;
  }

  &--radio {
    position: relative;
    margin-right: 0;
    padding-left: 45px;

    @media (min-width: $tablet) {
      padding-left: 60px;
    }
  }

  &--email,
  &--tel {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 0;
    width: 100%;
  }

  &--checkbox {
    position: relative;
    margin-right: 0;
    padding-left: 46px;

    @media (min-width: $tablet) {
      padding-left: 60px;
    }
  }
}

.form__input-text,
.form__input-email,
.form__input-tel {
  padding: 12px 15px 13px;
  flex-grow: 1;
  border: 1px solid $color-grey-form;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    padding: 12px 18px 14px;
  }

  @media (min-width: $desktop) {
    padding: 9px 20px 11px;
    line-height: 30px;
  }

  &:invalid {
    border: 1px solid $color-invalid;
    box-shadow: 0 0 0 1px $color-invalid;
  }

  &:hover {
    border: 1px solid $color-result-border;
    box-shadow: none;
  }

  &:focus {
    border: 1px solid $color-special-dark-grey;
    box-shadow: 0 0 0 1px $color-special-dark-grey;
    outline: none;
  }

  &::placeholder {
    color: $color-special-dark-grey;
    text-transform: uppercase;
  }
}

.form__inner {
  &--checkbox-group {
    padding-top: 28px;
    padding-bottom: 24px;
    border-top: 1px solid $color-lighten-grey;
    border-bottom: 1px solid $color-lighten-grey;

    @media (min-width: $tablet) {
      padding: 0;
      border: none;
    }
  }
}

.form__input-email {
  margin-left: 11px;
  padding-right: 35px;

  @media (min-width: $tablet) {
    margin-left: 20px;
    padding-top: 14px;
    padding-left: 19px;
  }
}

.form__input-tel {
  margin-left: 8px;
  padding-right: 33px;

  @media (min-width: $tablet) {
    margin-left: 14px;
    padding-top: 14px;
    padding-left: 19px;
  }
}

.form__input-radio + .form__label--radio::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $color-lighten-grey;
  border-radius: 50%;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    top: -5px;
    width: 40px;
    height: 40px;
  }
}

.form__input-radio:checked + .form__label--radio::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 8px;
  width: 14px;
  height: 14px;
  background-color: $color-basic-green;
  border-radius: 50%;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    top: 6px;
    left: 11px;
    width: 18px;
    height: 18px;
  }
}

.form__label--radio:hover::before,
.form__input-radio:focus + .form__label--radio::before {
  border: 1px solid $color-radio-hover;
}

.form__input-radio:disabled,
.form__input-radio:disabled + .form__label--radio,
.form__input-checkbox:disabled,
.form__input-checkbox:disabled + .form__label--checkbox {
  opacity: 0.3;
}

.form__legend {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 100%;
  font-size: 24px;
  line-height: 26px;
  color: $color-black;
  text-transform: initial;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    padding-left: 60px;
  }

  &::before {
    @media (min-width: $tablet) {
      content: "";
      width: 30px;
      margin-right: 40px;
      margin-left: -20px;
      height: 2px;
      background-color: $color-basic-green;
    }

    @media (min-width: $desktop) {
      margin-left: -60px;
      width: 70px;
    }
  }

  &::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: 22px;
    height: 2px;
    background-color: $color-basic-green;

    @media (min-width: $tablet) {
      margin-left: 40px;
    }
  }

  &--contact {
    padding-top: 26px;
    margin-bottom: 35px;

    @media (min-width: $tablet) {
      padding-top: 71px;
      margin-bottom: 76px;
    }

    @media (min-width: $desktop) {
      padding-top: 69px;
      margin-bottom: 71px;
    }
  }

  &--comment {
    padding-top: 24px;
    margin-bottom: 38px;

    @media (min-width: $tablet) {
      padding-top: 65px;
      margin-bottom: 76px;
    }

    @media (min-width: $desktop) {
      padding-top: 65px;
      margin-bottom: 76px;
    }
  }

  &--extra {
    padding-top: 23px;
    margin-bottom: 37px;

    @media (min-width: $tablet) {
      padding-top: 59px;
      margin-bottom: 61px;
    }

    @media (min-width: $desktop) {
      padding-top: 62px;
      margin-bottom: 61px;
    }
  }
}

.form__legend--contact br {
  @media (min-width: $tablet) {
    display: none;
  }
}

.form__icon-tel,
.form__icon-email {
  position: absolute;
}

.form__icon-tel {
  right: 13px;
  width: 20px;
  height: 21px;

  @media (min-width: $desktop) {
    right: 17px;
  }
}

.form__icon-email {
  right: 15px;
  width: 20px;
  height: 15px;

  @media (min-width: $tablet) {
    right: 14px;
  }

  @media (min-width: $desktop) {
    right: 18px;
  }
}

.form__input-email:invalid + .form__icon-email {
  fill: $color-invalid;
}

.form__input-tel:invalid + .form__icon-tel {
  fill: $color-invalid;
}

.form__input-email:hover + .form__icon-email {
  fill: $color-special-black;
}

.form__input-email:focus + .form__icon-email {
  fill: $color-basic-green;
}

.form__input-tel:hover + .form__icon-tel {
  fill: $color-special-black;
}

.form__input-tel:focus + .form__icon-tel {
  fill: $color-basic-green;
}

.form__textarea {
  padding: 9px 15px 9px 12px;
  width: 100%;
  min-height: 150px;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid $color-grey-form;
  text-transform: uppercase;
  resize: none;
  outline: none;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding: 10px 19px;
    min-height: 174px;
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    border: 1px solid $color-result-border;
  }

  &:focus {
    border: 1px solid $color-special-dark-grey;
    box-shadow: 0 0 0 1px $color-special-dark-grey;
    outline: none;
  }

  &::placeholder {
    color: $color-special-dark-grey;
    text-transform: uppercase;
  }

  &:invalid {
    border: 1px solid $color-invalid;
    box-shadow: 0 0 0 1px $color-invalid;
  }
}

.form__input-checkbox + .form__label--checkbox::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $color-lighten-grey;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    top: -5px;
    width: 40px;
    height: 40px;
  }
}

.form__input-checkbox:checked + .form__label--checkbox::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 19px;
  height: 15px;
  background-image: url("../../images/icons/stack.svg#icon-check");
  background-repeat: no-repeat;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    top: 7px;
    left: 11px;
  }
}

.form__label--checkbox:hover::before,
.form__input-checkbox:focus + .form__label--checkbox::before {
  border: 1px solid $color-radio-hover;
}

.form__footer {
  padding: 0 20px;
  margin-bottom: 32px;

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    margin-bottom: 72px;
    padding: 0 70px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto;
    margin-bottom: 82px;
    padding: 0 110px;
    max-width: 1220px;
  }
}

.form__btn {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 21px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    margin-right: 62px;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 282px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop) {
    margin-right: 82px;
    width: 568px;
  }
}

.form__text {
  margin: 0;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 16px;
  color: $color-black;
  text-align: center;
  text-transform: initial;

  @media (min-width: $tablet) {
    font-size: 16px;
  }
}
