.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 20px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    width: 440px;
  }

  @media (min-width: $desktop) {
    width: 478px;
  }
}

.menu__item {
  margin-right: -20px;
  margin-left: -20px;
  padding-top: 22px;
  padding-bottom: 23px;
  border-top: 1px solid $color-border-menu;

  @media (min-width: $tablet) {
    margin: 0;
    padding: 0;
    border-top: none;
  }
}

.menu__item:nth-last-child(1) {
  border-bottom: 1px solid $color-border-menu;

  @media (min-width: $tablet) {
    border-bottom: none;
  }
}

.page-header--border .menu__item:nth-last-child(1) {
  border-bottom: none;
}

.menu__link {
  display: inline-block;
  color: $color-black;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--current {
    @media (min-width: $tablet) {
      border-bottom: 2px solid $color-basic-green;
    }
  }

  &--index {
    @media (min-width: $desktop) {
      font-size: 20px;
      line-height: 30px;
      color: $color-white;
    }
  }

  &--index-current {
    @media (min-width: $desktop) {
      border-bottom: 2px solid $color-white;
    }
  }
}
