.nav {
  position: relative;
  padding-top: 12px;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 24px;
  }

  @media (min-width: $desktop) {
    padding-top: 53px;
  }
}

.nav__button {
  position: absolute;
  width: 24px;
  padding: 0;
  background-color: $color-white;
  border: none;

  @media (min-width: $tablet) {
    display: none;
  }
}

.nav--close .nav__button {
  top: 25px;
  right: 0;
  width: 24px;
  height: 16px;
  background-image: url("../../images/icons/stack.svg#open");
  background-repeat: no-repeat;
  background-size: 24px 16px;
}

.nav--open .nav__button {
  top: 23px;
  right: 3px;
  width: 18px;
  height: 18px;
  background-image: url("../../images/icons/stack.svg#close");
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.nav--close .nav__list {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
  }
}

.nav--open .nav__list {
  display: block;

  @media (min-width: $tablet) {
    display: flex;
  }
}

.nav--no-js .nav__list {
  @media (max-width: $mobile-only) {
    display: block;
  }
}

/*
.nav--no-js .nav__button {
  @media (max-width: $mobile-only) {
    display: none;
  }
}*/

.nav__list {
  @media (max-width: $mobile-only) {
  display: flex;
  width: 100%;
  background-color: $color-white;
  z-index: 4;
  position: absolute;
 }
}

.nav__container {
  @media (max-width: $mobile-only) {
  margin: 0 -20px 0 -20px;
  position: relative;
  }
}

.nav--close .nav__container {
  @media (max-width: $mobile-only) {
    display: none;
  }
}
