.page-header {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;

  &--border {
    @media (max-width: $mobile-only) {
      border-bottom: 1px solid $color-lighten-grey;
    }
  }
}

.page-header--index {
  @media (min-width: $desktop) {
    position: relative;
    min-height: 696px;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      width: 50%;
      min-height: 696px;
      background-color: rgba($color-basic-green, 0.85);
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 696px;
      background-image:
        image-set(
          url("../../images/background-cat-desktop@1x.jpg") 1x,
          url("../../images/background-cat-desktop@2x.jpg") 2x
        );
      background-repeat: no-repeat;
      background-position: left top;
      background-size: cover;
      background-color: $color-special-dark-grey;
      z-index: -2;
    }
  }
}
