.page-main__title {
  line-height: 36px;
}

.page-main__text {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

.page-main__title--catalog {
  color: $color-special-dark-grey;
  font-size: 12px;
  line-height: 16px;
}
