.social-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  align-items: center;
  width: 130px;
  margin: 0 auto;
}

.social-list__link {
  display: block;
  color: $color-grey-footer;

  &:active {
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    color: $color-basic-green;
  }
}
