.works {
  margin-bottom: 42px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    padding-bottom: 46px;
    border-bottom: 1px solid $color-border-menu;
  }

  @media (min-width: $desktop) {
    padding-bottom: 11px;
    border-bottom: none;
  }
}

.works__title {
  margin-top: -5px;
  margin-bottom: 36px;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet) {
    margin-top: 0;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}
